<div>
	<h3>Total 1400 (1800)</h3>
	<ul class="list" id="nutrientList">
		<li>
			Protein <%= nutrients.Protein %> (500)
		</li>
		<li>
			Carbs <%= nutrients.Carbohydrates %> (200)
		</li>
		<li>
			Dairy <%= nutrients.Dairy %> (240)
		</li>
		<li>
			Fat <%= nutrients.Fat %> (120)
		</li>
		<li>
			Vegetables <%= nutrients.Vegetables %> (100)
		</li>
		<li>
			Fruit <%= nutrients.Fruit %> (100)
		</li>
		<li>
			Condiments <%= nutrients.Condiments %> (50)
		</li>
		<li>
			Snack <%= nutrients.Snack %> (100)
		</li>
		<li>
			Bar <%= nutrients.Bar %> (200)
		</li>
		<li>
			Drink <%= nutrients.Drink %> (200)
		</li>

		<p>Eaten today:</p>
		<p>Oatmeal 180</p>
	</ul>
</div>