*:not(input):not(textarea) {
	-webkit-user-select: none;
	user-select: none;
}

a:hover {
	text-decoration: none;
}

#bestest-navbar {
	position: fixed;
	margin-left:0;
	margin-right:0;
}

hr {
	margin: 10px 0;
}

body {
	padding-top: 50px;
}

.signup-form div{
	padding: 10px;
}

.editPage {
	margin: 10px 10px 120px 10px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	padding: 15px;
}

.add {
	border: 2px solid rgb(0, 153, 255);
}

.edit {
	border: 2px solid rgb(255, 173, 0);
}

.modal-title {
	font-weight: normal;
}

.brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: auto;
}


#feedbackForm {
	padding: 10px;
}

#feedbackForm textarea {
	height: 200px;
	margin: 40px 0;
}

.content {
	background-color: #CFD0D3;
}

.aboutText {
	background-color: white;
	padding: 10px 20px 100px 20px;
}

.aboutText p {
	margin: 10px;
	padding-bottom: 5px;
}

.aboutText ul {
	padding: 0 15px 10px 15px;
}

.resetPassword-form > * {
	padding: 10px;
}

#homePageIcon {
	text-align: center;
}

#settingsList {
	margin: 20px;
}

#settingsList li a {
	font-size: 16pt;
	padding-left: 20px;
	font-weight: bold;
	color: #4D4D4D;
}

.listEnd {
	height: 50px;
}

#signup {
	padding: 20px;
}



#categoryList li a {
	font-size: 16pt;
	padding-left: 25px;
	font-weight: bold;
	color: #4D4D4D;
}


.new-text {
	padding: 5px 15px 40px 20px;
	background-color: white;
}

#symptomList {
	margin: 10px 10px 80px 10px;
}

#symptomList li {
	padding: 10px 20px 10px 20px;
	color: #4D4D4D;
}

.symptom {
  height: 40px;
  position: relative;
}

.symptom .severity {
	float: right;
	font-size: 18pt;
	padding-bottom: 5px;
}
.symptom .date {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 20px;
  max-width: 32%;
}
.symptom .comment {
  text-align: right;
	font-style: italic;
  position: absolute;
  bottom: 5px;
  right: 15px;
  max-width: 56%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}


#symptomsubmitform {
	line-height: 2.5em;
	-webkit-user-select: none;
}

#symptomsubmitform input[type="number"] {
	width: 60px;
}

#symptomsubmitform input[type="date"]{
	width: 110px;
}

#symptomsubmitform input[type="time"] {
	width: 90px;
}

#symptomsubmitform input[type="range"] {
	width: 100%;
}

#categorysubmitform input[type="number"] {
	width: 40px;
}

.rangeValues {
	border: 1px solid #BBB;
	padding: 5px;
	border-radius: 6px;
	margin-bottom: 10px;
}



.displayed {
	border-radius: 5px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#myModal {
	padding: 10px;
}

#content {
	overflow: scroll;
}

input[type="range"] {
	width: 100%;
	-webkit-appearance: none;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888), color-stop(20%,#bbb), color-stop(87%,#fff));
	height: 9px;
	border: 1px solid #aaa;
	-webkit-box-shadow: 0 1px 1px #bbb;
	border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: -1px;
	z-index: 1;
	width: 25px;
	height: 25px;
	-webkit-box-shadow: inset 0 1px 0 #eee, inset 0 -1px 0 #eee, inset -1px 0 0 #eee, inset 1px 0 0 #eee;
	border-radius: 40px;
	border: 1px solid #777;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e9e9e), color-stop(50%,#ddd), color-stop(80%,#eee), color-stop(100%,#d5ebfb));
}

.list li {
	border-bottom: 1px solid #aaa;
}

#graph {
	background: white;
}


#categoryList .split-list a:first-child {
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 0px; 
}

#categoryList .split-list a:nth-child(2) {
	float: right;
	padding-right: 20px;
	margin-top: -41px;
}

